.FormBackground {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
}
.FormContainer {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 4px;
}
.FormContainer form {
    display: flex;
    flex-direction: column;
}
.FormContainer button {
    background: #2196f3;
    border: none;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    color: #ffffff;
    width: 150px;
    outline: none;
    cursor: pointer;
}
.FormContainer .FormClose {
    background: #000000;
    border-radius: 50%;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    transition: 0.3s;
}
.FormContainer .FormClose:hover {
    background: #ffffff;
    color: #000;
}
.FormContainer input {
    height: 40px;
    line-height: 40px;
    background: transparent;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    border: none;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 300px;
    border-radius: 4px;
}