.ContactItem {
    padding: 20px;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    width: 49.5%;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.ContactItem:hover {
    transform: translateY(-5%);
}
.ContactsItemMainInfo {
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 5px;
}
.ContactsItemMainInfoAvatar {
    width: 50px;
    height: 50px;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.ContactsItemMainInfoText h5 {
    margin: 0 0 5px;
    font-weight: 400;
}
.ContactItemAllInfo {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.ContactItemAllInfo span {
    display: inline-block;
    width: 49%;
    margin-bottom: 5px;
}
@media (max-width: 1200px) {
    .ContactItemAllInfo span {
        width: 100%;
    }
    .ContactItemAllInfo:last-child {
        margin-bottom: 0;
    }
}
@media (max-width: 960px) {
    .ContactItem {
        width: 100%;
    }
    .ContactItemAllInfo span {
        width: 49%;
    }
}
@media (max-width: 640px) {
    .ContactItemAllInfo span {
        width: 100%;
    }
}