.LayoutHeader {
    background: #2196f3;
    padding: 20px 40px;
}
.HeaderLogo {
    width: 40px;
    height: 40px;
    background: url(../../assets/images/phone-book.svg) no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
    cursor: pointer;
}
.LayoutContent {
    padding: 20px 40px;
}
@media (max-width: 960px) {
    .LayoutContent,
    .LayoutHeader {
        padding: 15px 20px;
    }
}